.container {
  background-color: #fde7dc;
  max-width:800px !important;
}
.date {
  color:#bc202b;
  font-weight: 800;
  font-size:24px;
}
.date_value {
  display: inline;
  color:#bc202b;
  font-weight: 800;
  font-size:24px;
}
.contents_box{
  border:4px solid #bc202b;
}
.header_box {
  border-bottom:4px solid #bc202b;
}
.header_box div {
  padding:30px 0 ;
}
h1 {
  color:#bc202b;
  display: inline-block;
  /* border-radius: 13px; */
  border-radius: 20px;
  /* 더블 */
  background-color: #ffffff;
  /* border:4px solid #bc202b; */
  border:10px double #bc202b;
  padding:20px 20px; /* 보더더블 */
  /* padding:10px 20px; */
  
  font-size: 40px;
  font-weight: 900;
}
/* h1::after{
  margin-top:2px;
  content: '';
  display: block;
  clear: both;
  border:1px solid #bc202b;
} */
/* h1::after{ 두줄 
  content: '';
  display: block;
  clear: both;
  border-bottom:6px double #bc202b;
} */

/* ListAdd */
.list_add {
    text-align: center;
}
.list_add .v-btn {
    color:#bc202b;
    font-weight: bold;
}

textarea {
    padding:5px;
    width: 100%;
}

/* list */
.list_box {
  border-top:4px solid #bc202b;
}
.list_box > div > div {
    border-bottom: 2px solid #bc202b;
    text-align: center;
}
.list_box > div p {
    font-weight: bold;
    font-size: 18px;
}
.list_box > div .btn_box i {
    font-size:16px;
}
.list_box > div .v-btn--floating.v-btn--small {
    margin: 0 4px 4px;
    width:20px;
    height: 20px;
}
.list_box > div span {
    font-size: 14px;
}
.done {
    background-color: rgba(173, 85, 91) !important;
}
.done p {
    text-decoration: line-through;
}
.edit {
    background-color: #ffffff !important;
}
